@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewBag.Title = "Home";
}

<script src="~/scripts/custom/home.js"></script>

Version 1.0 Dev 2016 <br />
Code base (Private Repo) : <a href="https://github.com/ajith23/Lazy" target="_blank">Github</a>. 

