* {margin:0;padding:0;}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
    height: 100%;
}

#wrapper {min-height: 100%;}

.coverfieldEmpty
{
    color:red;
}

.coverfieldHighlight
{
    background: #FFFF00;
}

.footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;
  background: #EFEFEF;
  padding-top:10px;
}

.pageBody{
    padding-bottom: 40px;
}